#register, #login {
    
    width: 300px;
    border: 3px solid #000066;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 15px;
    background: #ffffff;
    margin: 100px auto;
  }
  
  form label, form input {
    display: block;
    margin-bottom: 10px;
    width: 100%
  }
  
  form input {
    padding: 10px;
    border: solid 2px #003300;
    border-radius: 9px;
  
  }
  
  .button {
    background-color: orangered;
    border-color: black;
    font-weight: bold;
    padding: 12px 15px;
    width: 150px;
    border-radius: 10px;
    color: #ffffff;
    margin-left: 50px;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
  .material-icons{
      color: #000066;
  }